<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
    <script src="{{ url_for('static',    filename='js/main.js') }}"></script>
  </head>
  <body>
    <div class="center-block">
      <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
      <div class="message_holder"></div>
      <div class="container vertical-center">
        <form action="" method="POST">
          <input type="text" class="username" placeholder="User Name"/>
          <input type="text" class="message" placeholder="Messages"/>
          <input type="submit"/>
        </form>
      </div>
    
    </div>
  </body>
</html>
